@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.Title</h2>

<ul>
    <li>@Html.ActionLink("Basic", MVC.Home.ActionNames.Basic)</li>
    <li>@Html.ActionLink("Advanced", MVC.Home.ActionNames.Advanced)</li>
    <li>@Html.ActionLink("Callback", MVC.Home.ActionNames.Callback)</li>
</ul>
